h2{color:white;font-size:150%;}
h1{font-size: 400%}

#active{border-bottom: solid red}

#bodyy{
  font-family:Verdana;
  text-align: justify;
  text-justify: inter-word;
  color: white;
  margin-top:5%;
  margin-left:20%;
  margin-right:20%;
  }

  ::-webkit-scrollbar {
      display: none;
  }
button{ 
	background-color: black; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.25s; /* Safari */
    transition-duration: 0.25s;
    cursor: pointer;
	}
.button5 {
    background-color: white;
    color: black;
    border: 5px solid slategray;
}

.button5:hover {
    background-color: black;
    color: white;
	border: 4px solid whte;
}
  .navbar{
    list-style-type: none;
    width: 100%;
    overflow: hidden;
    height: 6%;
    background-color: slategray;
    position:fixed;
    margin-left:0%;
    margin-right:0%;
    margin-top:-5%;
    margin-bottom:10%;
    padding-top: 1%;
    text-align:center;
    display:inline-block;
  }
  span{text-align: center;}
  h1{font-size:400%;text-align: center;}

  .nav{
    text-align:center;
    display:inline-block; /*se metto inline block mi centra le immagini grazie a text align ma non mette il border radius e quindi i bordi coprono l'immagine */
    padding-left: 7%;
    padding-right: 7%;
  }
  .a{
    /*padding-left:10%;
    padding-right:10%;*/
    transition: -webkit-transform 0.25s ease;
    transition: transform 0.25s ease;
  }

  .a:hover{
    transform:scale(1.2);
    -ms-transform:scale(1.2); /* IE 9 */
    -moz-transform:scale(1.2); /* Firefox */
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -o-transform:scale(1.2); /* Opera */
  }
  body{
    background-position: center;
    background-image:url(immagini/img.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 10%;
  }
  a:hover:not(#active):not(.normal){
    border-bottom: solid orange;
  }
